@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');

#root,
body,
html {
  display: flex;
  flex-direction: column;
  min-width: 100%;
}

h1, h2, h3, h4, h5, p {
  font-family: "Manrope", Helvetica, Arial, sans-serif;
}

h1 {
  color: #131022;
  font-weight: 800;
  line-height: 130%;
}

h5 {
  font-size: 18px;
  color: #585C7B;
  line-height: 160%;
}