@import url("fonts/Satoshi/stylesheet.css");
@import url("fonts/IntegralCF/stylesheet.css");

body,
html {
  min-width: 100vw;
  min-height: 100vh;
}

h1 {
  font-family: "Integral CF";
}

p, a {
  font-family: "Satoshi", "Arial";
}
